<!DOCTYPE html>

<html lang="en" xmlns:th="https://www.thymeLeaf.org">
<head>
<meta charset="utf-8">
<title>Cuenta</title>
<link href="/css/main.css" rel="stylesheet" type="text/css">


</head>
<body>
	<nav class="nav">
		<div>
			<a class="log" href="/players/ranking">Ranquings</a> <a class="log"
				th:href="@{/players/{id}/games/(id=${jugador.id_usuari})}">
				Jugar </a>
		</div>
	</nav>
	<br>
	<h1>Perfil:</h1>
	<br>
	<!-- On tables -->
	<div class= "contenido"> 
	<table class="tabla">

		<thead>
			<tr>

				<th class="text">Nombre</th>
				<th class="text">Fecha de alta</th>

			</tr>
		</thead>
		<tbody>
			<tr class="text" th:each="jugador:${jugador}">
				<td class="text" th:text="${jugador.nombre}">1</td>
				<td class="text" th:text="${jugador.date}">2</td>


			</tr>
		</tbody>
	</table>
	<div>
		<button type="submit" class="btn btn-warning"
			href="/players/update/{id}"
			th:href="@{/players/{id}/games/(id=${jugador.id_usuari})}">Cambiar
			nombre</button>
	</div>
	<br>
	<h2>Partidas:</h2>
	<table class="tabla">

		<thead>
			<tr>
				<th class="text" scope="col">Dado1</th>
				<th class="text" scope="col">Dado2</th>
				<th class="text" scope="col">Resultado</th>
			</tr>
		</thead>
		<tbody>
			<tr class="text" th:each="jugadas:${jugadas}">
				<td class="text" th:text="${jugadas.dado1}">1</td>
				<td class="text" th:text="${jugadas.dado2}">2</td>
				<td class="text" th:text="${jugadas.resultado}">resultado</td>
			</tr>
		</tbody>
	</table>
</div>
</body>
</html>