<!DOCTYPE html>
 
 <html xmlns:th="https://www.thymeLeaf.org">
 <head>
 <meta charset= "utf-8">
 <title> Resultado> </title>
 <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">

 </head>
 <body>
  <nav class="navbar navbar-expand-lg bg-light">
	  <div class="container-fluid">
	    <a class="navbar-brand" href="#">Ranquings</a> 
	          <a class="nav-link" href="/sucursal/add">Mi cuenta</a>
	  </div>
	</nav>
 	<br>
 		<h1 class="mx-auto"  style="width: 600px;" >Juego:</h1>
 	<br>	
	<!-- On tables -->

	<table class="table table-success table-striped mx-auto" style="width: 900px;"  >.
		<thead>
	    <tr>
	      <th scope="col">Dado1</th>
	      <th scope="col">Dado2</th>
	      <th scope="col">Resultado</th>
	    </tr>
	  </thead>
	  <tbody>
	    <tr th:each="dado:${dado}">
		     <td th:text="${dado.dado1}">1</td>
			 <td th:text="${dado.dado2}">2</td>
			 <td th:text="${dado.resultado}">resultado</td>
	    </tr>   
	  </tbody>
</table>
	
 </body>
 </html>