<!DOCTYPE html>

<html xmlns:th="https://www.thymeLeaf.org">
<head>
<meta charset="utf-8">
<title>Login</title>
<link href="/css/main.css" rel="stylesheet" type="text/css">

</head>
<body>
	<div class="contenido">
		<br>
		<h1 class="titulo">Darse de alta:</h1>
		<br>
		<div class="contenido">
			<form th:action="@{/players}" th:object="${usuario}" method="POST">
				<div class="mb-3">
					<label>Nombre:</label> <input type="text" name="nombre"
						th:field="*{nombre}" class="form-control"
						placeholder="Escribe el nombre... ">
					<div class="info">Debes usar un nombre que
						no este en uso.</div>
				</div>
				<div class="mb-3">
					<label>Password:</label> <input type="password" name="nombre"
						th:field="*{password}" class="form-control"
						placeholder="Escribe la contraseña... ">
				</div>
				<br> 
				<a class="log" href="http://localhost:9001/players/cuenta/{id}"> Jugar como anónimo</a>
				<button type="submit" class="log">Login</button>
			</form>
		</div>
	</div>
</body>
</html>