

<!DOCTYPE html>

<html xmlns:th="https://www.thymeLeaf.org">
<head>
<meta charset="utf-8">
<title>Stats</title>
<link href="/css/main.css" rel="stylesheet" type="text/css">

</head>
<body>
	<nav class="nav">
		<div>
			<a class= "log" href="/">Cuenta</a>
			 <a class= "log"  href="/juego">Jugar</a> 
				<a class= "log"  href="/ranquings">Ver Partidas y Ranquing
				total</a>
		</div>
	</nav>
	<br>
	<table class="tabla">
		
		<thead>
			<tr>
				<th class="text">Jugador</th>
				<th class="text">Ranquing de acierto</th>
			</tr>
		</thead>
		<tbody>
			<tr class="text" th:each="jugadores:${jugadores}">
				<td class="text" th:text="${jugadores.nombre}">Nom</td>
				<td class="text" th:text="${jugadores.ranquing}">ranquing</td>
			</tr>
		</tbody>
		
	</table>
	<br>
	
</body>
</html>