

<!DOCTYPE html>

<html xmlns:th="https://www.thymeLeaf.org">
<head>
<meta charset="utf-8">
<title>Stats</title>
<link href="/css/main.css" rel="stylesheet" type="text/css">

</head>
<body>
	<nav class="nav">
		<div>
			<a class= "log" href="/players/cuenta/{id}">Cuenta</a>
			 <a class= "log"  href="/players/{id}/games">Jugar</a> 
				<a class= "log"  href="/players/ranking">Ver Partidas y Ranquing
				total</a>
		</div>
	</nav>
	<table class="table table-success table-striped mx-auto"
		style="width: 900px">
		
		<thead>
			<tr>
				<th scope="col">Jugador</th>
				<th scope="col">Ranquing de acierto</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="jugadores:${jugadores}">
				<td th:text="${jugadores.nombre}">Nom</td>
				<td th:text="${jugadores.ranquing}">ranquing</td>
			</tr>
		</tbody>
		</tbody>
	</table>
	<br>
	<h2 th:each="ranquingAbsoluto:${ranquingAbsoluto}">
		ranquingAbsoluto
		</h2th:each="usuaris:${usuaris}">
</body>
</html>